@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Kablammo&family=Kode+Mono:wght@400..700&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Kablammo&family=Kode+Mono:wght@400..700&family=Merienda:wght@300..900&family=Permanent+Marker&display=swap');
/* Reset styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #0D2B1D;
}
/*  header section  */
header{
    height: 8vh;
    width: 94%;
    align-self: center;
    margin-top: 2vh;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    opacity: 0.7;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.webname{
    color: #0D2B1D;
    font-size: 30px;
    font-weight: 900;
}
.userdiv{
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.uslink{
    margin: 0px 10px;
    height: 60px;
    width: 60px;
    background-position: center;
    background-size: cover;
    background-image: url(../image/userimg.png);
    border-radius: 60px;
}
.username{
    font-size: 20px;
    font-family: "Kode Mono", monospace;
    font-weight: 700;
}










body{
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: #E3EFD3;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.maindiv{
    margin-top: 2vh;
    height: 98vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.right, .left{
    width: 90vh;
    margin: 1% 1%;
    height: 80vh;
    border-radius: 10px;
    
}
.diaryfrom{
    height: 78vh;
    width: 100%;
    
}
.left{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

/* Textarea styling */
textarea {
    font-family: "Merienda", cursive;
    color: black;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    height: calc(100% - 50px); /* Full height of the container */
    padding: 10px;
    overflow-y: scroll;
    background-color: #e9f0e0;
    border: 1px solid #ccc;
    border-radius: 2px;
    resize: none; /* Disable resizing */
    font-size: 18px; /* Increase font size */
    line-height: 1.6; /* Adjust line spacing for better readability */
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;}
.submitdiarybtn{
    height: 4vh;
    width: 20vh;
    background: none;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: #345635;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: transform 0.2s ease-in;
}
.submitdiarybtn:hover{
    transform: translateY(-3px) scale(1.01);
}


/* for left div and the year and the maonths div */

.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.yeardsdiv{
    height: 10vh;
    padding: 10px;
    width: 100%;
    background-color:#AEC3B0;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 10px;
    overflow-y: scroll;
    scroll-padding: 10px;
}


/* year btns  */
.yearbtn{
height: 5vh;
font-weight: 600;
width: 6vh;
border:none;
border-radius: 3px;
background-color: #6B8F71;
margin:0px 10px;
box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
transition: all 0.2s ease;
}
.yearbtn:hover{
    transform: translate(-3px,-3px) scale(1.01);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, #345635 0px -5vh 0px inset;

}

/* montsh and datates btns  */
.monthsdiv{
    height: 69vh;
    width: 100%;
    margin-top: 1vh;
    background-color: #e9f0e0;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    overflow-y: scroll;
}
.monthdiv{
    min-height: 23vh;
    max-height: 40vh;
    width: 30%;

    padding-top: 20px;
    background-color: #AEC3B0;
    margin: 10px;
    flex-direction: row;
    justify-content: left;
    position: relative;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.mn{
    position: absolute;
    top: 5px;
    left: 15px;
   font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-style: normal;
}
.dbtn{
    height: 50px;
    width: 54px;
    margin: 5px;
    border-radius: 2px;
    border: none;
    font-weight: 600;
    background-color: #6B8F71;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;    transition: transform 0.2s ease-in;
}
.dbtn:hover{
    transform: translate(-3px,-3px) scale(1.05);

}

.diarycontentdiv{
    font-family: "Merienda", cursive;
    color: black;
    font-size: 20px;
    font-weight: 700;
    height: 70vh;
    width: 100%;
    margin-top:10px;
    padding: 15px;
    padding-left: 20px;
    background-color:snow;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    border-radius: 10px;
    overflow-y: scroll;
}
.contentbtn{
    height: 4vh;
    width: 20vh;
    margin-bottom:20px;
    background: none;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: #345635;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: transform 0.2s ease-in;
}
.contentbtn:hover{
    transform: translateY(-3px) scale(1.01);
}
.dc{
    font-family: "Merienda", cursive;
    color: black;
    font-size: 20px;
    font-weight: 700;
}
.messagetext{
    font-family: "IBM Plex Mono", monospace;
    columns: green;
    font-weight: 700;
    font-size: 20px;
}


.mb{
    height: fit-content;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
